/*my one page*/
*{
	box-sizing: border-box;
}

body{
	font:normal 14px Helvetica, arial;
	margin: 0;
	padding: 0;
	background-color: #50b7c8;
}

.nav-wrapper{
	width: 100%;
	background-color: rgba(240, 235, 235, 0.85);
	top: 0;
	left: 0;
	
}

/*.mobile-logo{
	position: fixed;
	top: 0px;
}*/

nav ul{
	margin: 0;
	display: none;
}
nav ul li{
		list-style-type: none;
/*display: block;*/
/*	float: right;*/
	/*position: relative;*/
	/*display: inline-block;*/
}

.mobile-on{
	display: inline-block;
	float: right;

}

nav ul a{
	
	font-size: 20px;
	text-decoration: none;
/*	padding: 9px 18px;
*/	font-weight: bold;
	position: relative;
	display: block;
	color:rgb(54, 107, 143);
	float: right;
	margin:10px;
	clear: both;
}



.fa-bars{
	font-size:2em;
}
.page-about{
	/*background-color: #50b7c8;*/
	clear: both;
}

.about-right{
	width: 100%;
	/*height: 300px;*/	
/*	float:right;
	width: 50%;*/
	background:#d5f2f7;
/*	position: relative;
*/}
/*.about-right:after{
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  left: -3.12em;
  margin-top: -1.2em;
  border-color: rgba(0,0,0,0);
  border-right-color: #e5fcfe;
  border-width: 1.2em 1.6em;
}
*/


.about-left{
	width: 100%;
	/*height: 300px;*/
	/*float:left;
	width: 50%;*/
	background:#bdeef4;
}


.page-contact{
	clear: both;
	background-color: #818181;
}

div{
	overflow: auto;
}



@media all and (min-width: 560px){

.mobile-on{
	display: none;
}
	nav ul{
		display: inline;
		width: 100%;
		padding: 0px;
	}

		nav ul li{
		float: right;
		border-style: none;
		border-radius: 0;
	}

.about-left, .about-right{
	float:left;
	width: 50%;
}
}